<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cinema</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    </head>
    <body>
        <div class="container py-5">
            <div class="text-right mb-5">
                <a class="btn btn-primary" href="/add">Agregar Pelicula</a>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Genero</th>
                        <th>Clasificacion</th>
                        <th>Director</th>
                        <th>Hora Inicio</th>
                        <th>Hora Fin</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="movie:${movies}">
                        <td th:text="${movie.getName()}"></td>
                        <td th:text="${movie.getGenre()}"></td>
                        <td th:text="${movie.getClasification()}"></td>
                        <td th:text="${movie.getDirector()}"></td>
                        <td th:text="${movie.getStart()}"></td>
                        <td th:text="${movie.getEnd()}"></td>
                        <td>
                            <a th:href="@{/edit/{id}(id=${movie.movie_id})}" class="btn btn-warning">Editar</a>
                            <a th:href="@{/delete/{id}(id=${movie.movie_id})}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
